@keyframes home-animation {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 380px;
    height: 350px;
  }
}
@keyframes home-animation-2 {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 380px;
    height: 380px;
  }
}
#Hteam-container {
  background-color: #fff;
  height: 91.5vh;
  background-image: url("./images/Principal-R6/fond-01.png");
  background-size: cover;
  background-position-y: -100px;
  text-align: center;
}
#Hteam-container h1 {
  font-family: "Valorant";
  font-size: 60px;
  color: #000;
  padding-top: 600px;
}
#Hteam-container i {
  color: #E9002E;
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  cursor: pointer;
  transition: 0.2s;
}
#Hteam-container i:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

#r6-container {
  height: 100vh;
  background-image: url("./images/Principal-R6/fond-r6p.jpg");
  background-size: cover;
}
#r6-container .info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 50px;
}
#r6-container .info-title .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  font-family: "Valorant";
  font-size: 36px;
  border-bottom: 2px solid #E9002E;
  padding: 0px 20px 10px;
}
#r6-container .info-title .title span:nth-child(2) {
  margin-top: 5px;
}
#r6-container .info-title img {
  width: 200px;
}
#r6-container .info-roster {
  width: 600px;
  margin: auto;
  margin-top: 25px;
}
#r6-container .info-roster p {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: "GothamLight";
}
#r6-container .info-roster p span {
  color: #E9002E;
}
#r6-container .r6team-container {
  display: flex;
  justify-content: center;
  width: 74%;
}
#r6-container .r6team-container img {
  width: 130px;
}
#r6-container .r6team-container .left-container {
  display: flex;
  margin-top: 50px;
}
#r6-container .r6team-container .left-container .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Valorant";
  font-size: 36px;
  border-right: 2px solid #E9002E;
  padding-right: 25px;
}
#r6-container .r6team-container .left-container .player span {
  padding-bottom: 10px;
}
#r6-container .r6team-container .left-container .players-info {
  margin-right: 40px;
}
#r6-container .r6team-container .left-container .players-info .upline {
  display: flex;
}
#r6-container .r6team-container .left-container .players-info .upline div {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
}
#r6-container .r6team-container .left-container .players-info .upline div i {
  color: #fff;
  font-size: 36px;
  position: absolute;
  bottom: 30px;
  right: 90px;
  cursor: pointer;
}
#r6-container .r6team-container .left-container .players-info .upline div p {
  color: #fff;
  font-family: "GothamLight";
  padding-top: 20px;
  cursor: pointer;
}
#r6-container .r6team-container .left-container .players-info .bottomline {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#r6-container .r6team-container .left-container .players-info .bottomline div {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
}
#r6-container .r6team-container .left-container .players-info .bottomline div i {
  color: #fff;
  font-size: 36px;
  position: absolute;
  bottom: 30px;
  right: 90px;
  cursor: pointer;
}
#r6-container .r6team-container .left-container .players-info .bottomline div p {
  color: #fff;
  font-family: "GothamLight";
  padding-top: 20px;
  cursor: pointer;
}
#r6-container .r6team-container .right-container {
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
}
#r6-container .r6team-container .right-container .analyste {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Valorant";
  font-size: 36px;
}
#r6-container .r6team-container .right-container .analyste span {
  padding-bottom: 10px;
}
#r6-container .r6team-container .right-container .info-analyste {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}
#r6-container .r6team-container .right-container .info-analyste i {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 220px;
  right: 50px;
  cursor: pointer;
}
#r6-container .r6team-container .right-container .info-analyste p {
  color: #fff;
  font-family: "GothamLight";
  padding-top: 30px;
  cursor: pointer;
}

#r6aca-container {
  height: 100vh;
  background-image: url("./images/Aca-R6/fond-blanc.png");
  background-color: #fff;
  background-size: cover;
}
#r6aca-container .info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E9002E;
  padding-top: 50px;
}
#r6aca-container .info-title .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  font-family: "Valorant";
  font-size: 36px;
  border-bottom: 2px solid #000;
  padding: 0px 20px 10px;
}
#r6aca-container .info-title .title span:nth-child(2) {
  margin-top: 5px;
}
#r6aca-container .info-title img {
  width: 200px;
}
#r6aca-container .info-roster {
  width: 700px;
  margin: auto;
  margin-top: 25px;
}
#r6aca-container .info-roster p {
  text-align: center;
  font-size: 18px;
  color: #000;
  font-family: "GothamLight";
  line-height: 30px;
}
#r6aca-container .info-roster p span {
  color: #E9002E;
}
#r6aca-container .r6acateam-container {
  display: flex;
  justify-content: center;
  width: 86.5%;
}
#r6aca-container .r6acateam-container img {
  width: 130px;
}
#r6aca-container .r6acateam-container .left-container {
  display: flex;
  margin-top: 50px;
}
#r6aca-container .r6acateam-container .left-container .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E9002E;
  font-family: "Valorant";
  font-size: 36px;
  border-right: 2px solid #000;
  padding-right: 25px;
}
#r6aca-container .r6acateam-container .left-container .player span {
  padding-bottom: 10px;
}
#r6aca-container .r6acateam-container .left-container .players-info {
  display: flex;
  align-items: center;
}
#r6aca-container .r6acateam-container .left-container .players-info .line {
  display: flex;
  margin-right: 40px;
}
#r6aca-container .r6acateam-container .left-container .players-info .line div {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
}
#r6aca-container .r6acateam-container .left-container .players-info .line i {
  color: #E9002E;
  position: absolute;
  top: 110px;
  right: 88px;
  font-size: 36px;
  cursor: pointer;
}
#r6aca-container .r6acateam-container .left-container .players-info .line p {
  color: #000;
  font-family: "GothamLight";
  padding-top: 20px;
  cursor: pointer;
}
#r6aca-container .r6acateam-container .right-container {
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
}
#r6aca-container .r6acateam-container .right-container .analyste {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E9002E;
  font-family: "Valorant";
  font-size: 36px;
}
#r6aca-container .r6acateam-container .right-container .analyste span {
  padding-bottom: 10px;
}
#r6aca-container .r6acateam-container .right-container .info-analyste {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}
#r6aca-container .r6acateam-container .right-container .info-analyste i {
  color: #E9002E;
  font-size: 36px;
  position: absolute;
  top: 227px;
  right: 68px;
  cursor: pointer;
}
#r6aca-container .r6acateam-container .right-container .info-analyste p {
  color: #000;
  font-family: "GothamLight";
  padding-top: 20px;
  cursor: pointer;
}

#valorant-container {
  height: 100vh;
  background-color: #E9002E;
}
#valorant-container .info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 25px;
}
#valorant-container .info-title .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  font-family: "Valorant";
  font-size: 36px;
  border-bottom: 2px solid #000;
  padding: 0px 20px 10px;
}
#valorant-container .info-title .title span:nth-child(2) {
  margin-top: 5px;
}
#valorant-container .info-title img {
  width: 150px;
}
#valorant-container .info-roster {
  width: 700px;
  margin: auto;
  margin-top: 25px;
}
#valorant-container .info-roster p {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: "GothamLight";
  line-height: 30px;
}
#valorant-container .info-roster p span {
  color: #000;
}
#valorant-container .players-info {
  text-align: center;
  margin-top: 60px;
}
#valorant-container .players-info h2 {
  font-size: 36px;
  font-family: "Valorant";
  border-bottom: 2px solid #000;
  width: 240px;
  margin: auto;
  color: #fff;
  padding-bottom: 20px;
}
#valorant-container .players-info img {
  width: 130px;
}
#valorant-container .players-info .upline {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#valorant-container .players-info .upline div {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
}
#valorant-container .players-info .upline div i {
  color: #000;
  font-size: 36px;
  position: absolute;
  bottom: 25px;
  right: 90px;
  cursor: pointer;
}
#valorant-container .players-info .upline div p {
  color: #fff;
  font-family: "GothamLight";
  padding-top: 20px;
  cursor: pointer;
}
#valorant-container .players-info .bottomline {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#valorant-container .players-info .bottomline div {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}
#valorant-container .players-info .bottomline div i {
  color: #000;
  font-size: 36px;
  position: absolute;
  bottom: 25px;
  right: 90px;
  cursor: pointer;
}
#valorant-container .players-info .bottomline div p {
  color: #fff;
  font-family: "GothamLight";
  padding-top: 20px;
  cursor: pointer;
}

#footer-team {
  background-color: #000;
  display: flex;
  height: 400px;
}
#footer-team .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  width: 900px;
}
#footer-team .footer-logo img {
  width: 140px;
  margin-left: 200px;
}
#footer-team .footer-reseaux {
  font-family: "Valorant";
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}
#footer-team .footer-reseaux .reseaux {
  margin-top: 20px;
  font-size: 30px;
}
#footer-team .footer-reseaux .reseaux i {
  padding-right: 25px;
  cursor: pointer;
  transition: 0.3s;
}
#footer-team .footer-reseaux .reseaux i:hover {
  color: #E9002E;
  transform: scale(1.2);
  transition: 0.3s;
}

@media (max-width: 900px) {
  .nav-desktop {
    display: none !important;
  }
  .nav-mobile {
    display: flex !important;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
  }
  .nav-mobile img {
    width: 60px;
  }
  .nav-mobile i {
    font-size: 20px;
  }
  .nav-mobile .burger-menu {
    position: absolute;
    background-color: #fff;
    height: 230px;
    width: 100%;
    top: 60px;
    left: 0px;
    z-index: 99;
    display: none;
  }
  .nav-mobile .burger-menu .menu {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-family: "Valorant";
    border-bottom: 1px solid rgb(197, 197, 197);
    color: #000;
  }
  .nav-mobile .burger-menu .menu p {
    margin-left: 10px;
  }
  .nav-mobile .burger-menu .menu i {
    width: 25px;
  }
  .nav-mobile .burger-menu .menu:nth-child(4) {
    border: none;
  }
  .nav-mobile .burger-menu .red-bar-burger {
    width: 100px;
    height: 5px;
    background-color: red;
    margin: auto;
    border-radius: 50px;
    margin-top: 0px;
  }
  main #home-container {
    background: url("./images/mobile/fond-home-mobile.png") !important;
    background-size: cover !important;
    background-position: top -31px right 0px !important;
    height: 93vh !important;
  }
  main #home-container #aimx-title {
    display: flex;
    text-align: center;
    margin-right: 0px !important;
    font-size: 60px !important;
  }
  main #home-container .sep-anim1 {
    display: none;
  }
  main #home-container .sep-anim2 {
    display: none;
  }
  main #home-container .sep-anim3 {
    display: none;
  }
  main #home-container .sep-anim4 {
    display: none;
  }
  main #presentation-container {
    background: none !important;
    height: 60vh !important;
  }
  main #presentation-container h1 {
    text-align: center !important;
    width: 100% !important;
    font-size: 40px !important;
    padding-top: 50px !important;
  }
  main #presentation-container .p-container {
    margin-top: 50px !important;
    padding: 20px;
  }
  main #presentation-container .p-container .margin-container {
    display: none;
  }
  main #tweet-container .blackbar {
    display: none;
  }
  main #tweet-container .flex-tweet {
    flex-direction: column;
  }
  main #tweet-container .flex-tweet .info-tweet h1 {
    font-size: 35px !important;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  main #tweet-container .flex-tweet .info-tweet a {
    margin-bottom: 25px;
  }
  main #tweet-container .flex-tweet div {
    margin-top: 0px !important;
  }
  main #tweet-container .flex-tweet .tweetfeel {
    height: 400px !important;
    width: 340px !important;
  }
  main #recrut-container {
    padding-top: 200px;
  }
  main #recrut-container h1 {
    width: 100% !important;
    font-size: 35px !important;
    margin-bottom: 50px;
  }
  main #recrut-container .blackbar-2 {
    display: none;
  }
  main #recrut-container .margin2-container {
    display: none;
  }
  main #recrut-container .recrut-info {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
  }
  main #recrut-container .recrut-info .firstname {
    margin-left: 0px !important;
    margin-bottom: 50px !important;
  }
  main #recrut-container .recrut-info .email {
    margin-left: 0px !important;
    margin-bottom: 50px !important;
  }
  main #recrut-container .recrut-info .object {
    margin-left: 0px !important;
    margin-bottom: 50px !important;
  }
  main #recrut-container .recrut-info .message {
    margin-left: 0px !important;
    margin-bottom: 50px !important;
  }
  main #recrut-container .recrut-info .submit {
    margin: auto;
  }
  main #Hteam-container {
    background-image: none;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main #Hteam-container h1 {
    padding-top: 0px;
  }
  main #r6-container {
    padding-bottom: 500px;
  }
  main #r6-container p {
    max-width: 100%;
  }
  main #r6-container .info-roster {
    width: 100%;
  }
  main #r6-container .r6team-container {
    width: 100%;
    flex-direction: column;
  }
  main #r6-container .r6team-container .left-container {
    flex-direction: column-reverse;
    position: relative;
    font-size: 13px;
  }
  main #r6-container .r6team-container .left-container .players-info {
    margin-right: 0px;
  }
  main #r6-container .r6team-container .left-container .players-info .upline {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 5px;
  }
  main #r6-container .r6team-container .left-container .players-info .upline div {
    padding-left: 0px;
    padding-right: 0px;
  }
  main #r6-container .r6team-container .left-container .players-info .upline div i {
    right: 28px;
    bottom: 22px;
  }
  main #r6-container .r6team-container .left-container .players-info .upline div:nth-child(2) {
    position: absolute;
    left: 60px;
    top: 130px;
  }
  main #r6-container .r6team-container .left-container .players-info .upline div:nth-child(2) i {
    right: 27px;
  }
  main #r6-container .r6team-container .left-container .players-info .upline div:nth-child(3) {
    position: absolute;
    left: 145px;
    top: 280px;
  }
  main #r6-container .r6team-container .left-container .players-info .upline img {
    width: 90px;
  }
  main #r6-container .r6team-container .left-container .players-info .bottomline {
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 5px;
  }
  main #r6-container .r6team-container .left-container .players-info .bottomline div {
    padding-left: 0px;
    padding-right: 0px;
  }
  main #r6-container .r6team-container .left-container .players-info .bottomline div i {
    bottom: 25px;
    right: 28px;
  }
  main #r6-container .r6team-container .left-container .players-info .bottomline div:nth-child(2) {
    position: absolute;
    right: 60px;
    top: 130px;
  }
  main #r6-container .r6team-container .left-container .players-info .bottomline img {
    width: 90px;
  }
  main #r6-container .r6team-container .left-container .player {
    border: none;
    padding-right: 0px;
  }
  main #r6-container .r6team-container .right-container {
    flex-direction: column;
    margin-top: 200px;
    margin-left: 0px;
    font-size: 13px;
  }
  main #r6-container .r6team-container .right-container .analyste {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid red;
    width: 80%;
  }
  main #r6-container .r6team-container .right-container .info-analyste {
    margin-left: 0px;
    align-items: center;
    margin-top: 50px;
  }
  main #r6-container .r6team-container .right-container .info-analyste img {
    width: 90px;
  }
  main #r6-container .r6team-container .right-container .info-analyste p {
    padding-top: 20px;
  }
  main #r6-container .r6team-container .right-container .info-analyste i {
    top: 70px;
    right: 178px;
  }
  main #r6aca-container {
    padding-bottom: 700px;
  }
  main #r6aca-container p {
    max-width: 100%;
  }
  main #r6aca-container .info-roster {
    width: 100%;
  }
  main #r6aca-container .r6acateam-container {
    width: 100%;
    flex-direction: column;
  }
  main #r6aca-container .r6acateam-container .left-container {
    flex-direction: column-reverse;
    position: relative;
    font-size: 13px;
  }
  main #r6aca-container .r6acateam-container .left-container .player {
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid red !important;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info {
    margin-right: 0px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .upline {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 5px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .upline div {
    padding-left: 0px;
    padding-right: 0px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .upline div i {
    right: 28px;
    bottom: 22px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .upline div:nth-child(2) {
    position: absolute;
    left: 60px;
    top: 130px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .upline div:nth-child(2) i {
    right: 27px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .upline div:nth-child(3) {
    position: absolute;
    left: 145px;
    top: 280px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .upline img {
    width: 90px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .bottomline {
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 5px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .bottomline div {
    padding-left: 0px;
    padding-right: 0px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .bottomline div i {
    bottom: 25px;
    right: 28px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .bottomline div:nth-child(2) {
    position: absolute;
    right: 60px;
    top: 130px;
  }
  main #r6aca-container .r6acateam-container .left-container .players-info .bottomline img {
    width: 90px;
  }
  main #r6aca-container .r6acateam-container .left-container .player {
    border: none;
    padding-right: 0px;
  }
  main #r6aca-container .r6acateam-container .right-container {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 0px;
    font-size: 13px;
  }
  main #r6aca-container .r6acateam-container .right-container .analyste {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid red;
    width: 80%;
  }
  main #r6aca-container .r6acateam-container .right-container .info-analyste {
    margin-left: 0px;
    align-items: center;
    margin-top: 50px;
  }
  main #r6aca-container .r6acateam-container .right-container .info-analyste img {
    width: 90px;
  }
  main #r6aca-container .r6acateam-container .right-container .info-analyste p {
    padding-top: 20px;
  }
  main #r6aca-container .r6acateam-container .right-container .info-analyste i {
    top: 70px;
    right: 178px;
  }
  main #valorant-container {
    padding-bottom: 700px;
  }
  main #valorant-container p {
    max-width: 100%;
  }
  main #valorant-container .info-roster {
    width: 100%;
  }
  main #valorant-container .r6acateam-container {
    width: 100%;
    flex-direction: column;
  }
  main #valorant-container .r6acateam-container .left-container {
    flex-direction: column-reverse;
    position: relative;
    font-size: 13px;
  }
  main #valorant-container .r6acateam-container .left-container .player {
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid red !important;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info {
    margin-right: 0px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .upline {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 5px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .upline div {
    padding-left: 0px;
    padding-right: 0px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .upline div i {
    right: 28px;
    bottom: 22px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .upline div:nth-child(2) {
    position: absolute;
    left: 60px;
    top: 130px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .upline div:nth-child(2) i {
    right: 27px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .upline div:nth-child(3) {
    position: absolute;
    left: 145px;
    top: 280px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .upline img {
    width: 90px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .bottomline {
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 5px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .bottomline div {
    padding-left: 0px;
    padding-right: 0px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .bottomline div i {
    bottom: 25px;
    right: 28px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .bottomline div:nth-child(2) {
    position: absolute;
    right: 60px;
    top: 130px;
  }
  main #valorant-container .r6acateam-container .left-container .players-info .bottomline img {
    width: 90px;
  }
  main #valorant-container .r6acateam-container .left-container .player {
    border: none;
    padding-right: 0px;
  }
  main #valorant-container .r6acateam-container .right-container {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 0px;
    font-size: 13px;
  }
  main #valorant-container .r6acateam-container .right-container .analyste {
    flex-direction: row;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid red;
    width: 80%;
  }
  main #valorant-container .r6acateam-container .right-container .info-analyste {
    margin-left: 0px;
    align-items: center;
    margin-top: 50px;
  }
  main #valorant-container .r6acateam-container .right-container .info-analyste img {
    width: 90px;
  }
  main #valorant-container .r6acateam-container .right-container .info-analyste p {
    padding-top: 20px;
  }
  main #valorant-container .r6acateam-container .right-container .info-analyste i {
    top: 70px;
    right: 178px;
  }
  #footer-home {
    height: 160px !important;
    flex-direction: column;
  }
  #footer-home .logo-desktop {
    display: none;
  }
  #footer-home .logo-mobile {
    display: flex;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #footer-home .footer-reseaux {
    margin-left: 0px !important;
    margin-bottom: 0px !important;
  }
  #footer-home .footer-reseaux h1 {
    display: none;
  }
  #footer-home .footer-reseaux .reseaux {
    display: flex;
    justify-content: space-around;
  }
  #footer-home .footer-reseaux .reseaux i {
    padding-right: 0px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "Valorant";
  src: url("./font/Valorant.ttf");
}
@font-face {
  font-family: "GothamLight";
  src: url("./font/GothamLight.ttf");
}
@font-face {
  font-family: "GothamBook";
  src: url("./font/GothamBook.ttf");
}
.nav-mobile {
  display: none;
}

.logo-mobile {
  display: none;
}

.nav-desktop {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 10px 50px 0px black;
}
.nav-desktop img {
  width: 120px;
}
.nav-desktop .team-menu {
  display: none;
}
.nav-desktop .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  font-size: 24px;
  font-family: "Valorant";
  color: #fff;
  background: transparent;
}
.nav-desktop .nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 80px;
  width: 120px;
  position: relative;
}
.nav-desktop .nav-center .sep1 {
  width: 100px;
  height: 152px;
  background-color: #000;
  -webkit-clip-path: polygon(55% 0, 100% 0%, 45% 77%, 0 77%);
  clip-path: polygon(55% 0, 100% 0%, 45% 77%, 0 77%);
  position: absolute;
  right: -187px;
}
.nav-desktop .nav-center .sep2 {
  width: 100px;
  height: 152px;
  background-color: #000;
  -webkit-clip-path: polygon(55% 0, 10% 0, 55% 77%, 100% 77%);
  clip-path: polygon(55% 0, 10% 0, 55% 77%, 100% 77%);
  position: absolute;
  left: -187px;
}
.nav-desktop .nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 80px;
  background: linear-gradient(270deg, rgb(233, 0, 46) 33%, rgb(0, 0, 0) 91%);
}
.nav-desktop .nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 80px;
  background-color: blue;
  background: linear-gradient(90deg, rgb(233, 0, 46) 33%, rgb(23, 0, 5) 91%);
}
.nav-desktop nav-link {
  cursor: pointer;
}
.nav-desktop nav-link i {
  padding-right: 15px;
}

main #home-container {
  background: url("./images/fond-accueil.png") no-repeat center center;
  background-position-y: -210px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 92vh;
  position: relative;
  overflow: hidden;
}
main #home-container #aimx-title {
  font-size: 90px;
  font-family: "Valorant";
  margin-right: 60px;
}
main #home-container .sep-anim1 {
  position: absolute;
  top: 0px;
  right: 90px;
  width: 380px;
  height: 350px;
  background-color: #000;
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation;
  animation-duration: 1s;
}
main #home-container .sep-anim2 {
  position: absolute;
  top: 0px;
  right: -130px;
  width: 380px;
  height: 350px;
  background-color: rgb(233, 0, 46);
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation;
  animation-duration: 1s;
}
main #home-container .sep-anim3 {
  position: absolute;
  top: 510px;
  right: 245px;
  width: 380px;
  height: 380px;
  background-color: rgb(233, 0, 46);
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation-2;
  animation-duration: 1s;
}
main #home-container .sep-anim4 {
  position: absolute;
  overflow: hidden;
  top: 510px;
  right: 460px;
  width: 380px;
  height: 380px;
  background-color: #000;
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation-2;
  animation-duration: 1s;
}
main #presentation-container {
  height: 100vh;
  background-color: #fff;
  background: url("./images/fond-pres.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
main #presentation-container img {
  height: 100%;
  width: 1100px;
}
main #presentation-container h1 {
  color: #000;
  font-family: "Valorant";
  font-size: 48px;
  width: 55%;
  padding-top: 200px;
  text-align: right;
}
main #presentation-container .p-container {
  margin-top: 175px;
  display: flex;
  overflow: hidden;
}
main #presentation-container .p-container .margin-container {
  width: 55%;
  height: 150px;
}
main #presentation-container .p-container .text-pres {
  width: 600px;
  display: flex;
  flex-direction: column;
}
main #presentation-container .p-container .text-pres span {
  color: rgb(233, 0, 46);
}
main #presentation-container .p-container .text-pres span:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}
main #presentation-container .p-container .text-pres span:nth-child(2) a {
  text-decoration: none;
  color: rgb(233, 0, 46);
}
main #presentation-container .p-container .text-pres p {
  font-family: "GothamLight";
  font-size: 18px;
  line-height: 1.5em;
}
main #presentation-container .p-container .text-pres p:nth-child(1) {
  margin-bottom: 40px;
}
main #tweet-container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
main #tweet-container .blackbar {
  position: absolute;
  width: 370px;
  height: 100%;
  background-color: #000;
  z-index: 0;
  left: 630px;
  border-left: 2px solid rgb(233, 0, 46);
}
main #tweet-container .flex-tweet {
  width: 85%;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
main #tweet-container .flex-tweet .info-tweet {
  display: flex;
  flex-direction: column;
}
main #tweet-container .flex-tweet .info-tweet h1 {
  font-size: 48px;
  font-family: "Valorant";
}
main #tweet-container .flex-tweet .info-tweet div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}
main #tweet-container .flex-tweet .info-tweet div img {
  width: 150px;
  margin-bottom: 40px;
}
main #tweet-container .flex-tweet .info-tweet div span {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "GothamBook";
}
main #tweet-container .flex-tweet .info-tweet div i {
  font-size: 30px;
  border: 1px solid rgb(233, 0, 46);
  border-radius: 50%;
  color: rgb(233, 0, 46);
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
main #tweet-container .flex-tweet .info-tweet div i:hover {
  color: #fff;
  background-color: rgb(233, 0, 46);
  transition: 0.5s;
}
main #tweet-container .flex-tweet .tweetfeel {
  width: 900px;
  height: 600px;
  margin-top: 125px;
}
main #recrut-container {
  position: relative;
}
main #recrut-container h1 {
  font-size: 48px;
  font-family: "Valorant";
  width: 630px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
main #recrut-container .blackbar-2 {
  position: absolute;
  left: 383px;
  top: -1px;
  background-color: #000;
  width: 613px;
  height: 450px;
  -webkit-clip-path: polygon(40.5% 100%, 40% 0, 100% 0);
  clip-path: polygon(40.5% 100%, 40% 0, 100% 0);
  border-left: 6px solid rgb(233, 0, 46);
}
main #recrut-container .formulaire {
  display: flex;
}
main #recrut-container .formulaire .margin2-container {
  width: 635px;
}
main #recrut-container .formulaire .recrut-info {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
main #recrut-container .formulaire .recrut-info span {
  font-family: "GothamLight";
}
main #recrut-container .formulaire .recrut-info div {
  display: flex;
  flex-direction: column;
}
main #recrut-container .formulaire .recrut-info div input {
  width: 150px;
  height: 30px;
  font-size: 18px;
}
main #recrut-container .formulaire .recrut-info .firstname {
  margin-left: 400px;
  margin-bottom: 100px;
}
main #recrut-container .formulaire .recrut-info .email {
  margin-left: 300px;
  margin-bottom: 100px;
}
main #recrut-container .formulaire .recrut-info .email input {
  width: 220px;
}
main #recrut-container .formulaire .recrut-info .object {
  margin-left: 200px;
  margin-bottom: 100px;
}
main #recrut-container .formulaire .recrut-info .object input {
  width: 220px;
}
main #recrut-container .formulaire .recrut-info .message {
  margin-left: 100px;
  margin-bottom: 100px;
}
main #recrut-container .formulaire .recrut-info .message textarea {
  resize: none;
}
main #recrut-container .formulaire .recrut-info .submit {
  width: 150px;
  font-size: 24px;
  color: #E9002E;
  background-color: #fff;
  border: 1px solid #E9002E;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 100px;
}
main #recrut-container .formulaire .recrut-info .submit:hover {
  background-color: #E9002E;
  color: #fff;
  transition: 0.3s;
}

#footer-home {
  background-color: #000;
  display: flex;
  height: 400px;
}
#footer-home .footer-logo {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  margin-left: 150px;
  width: 900px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
#footer-home .footer-logo img {
  width: 140px;
  margin-left: 200px;
}
#footer-home .footer-reseaux {
  font-family: "Valorant";
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}
#footer-home .footer-reseaux .reseaux {
  margin-top: 20px;
  font-size: 30px;
}
#footer-home .footer-reseaux .reseaux i {
  padding-right: 25px;
  cursor: pointer;
  transition: 0.3s;
}
#footer-home .footer-reseaux .reseaux i:hover {
  color: #E9002E;
  transform: scale(1.2);
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
