@keyframes home-animation {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 380px;
    height: 335px;
  }
}

@keyframes home-animation-2 {
  0% {
    display: none;
    width: 0px;
    height: 0px;
  }

  100% {
    display: flex;
    width: 380px;
    height: 335px;
  }
}