@import "animation";

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Valorant';
  src: url('font/Valorant.ttf');
}

nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 10px 50px 0px black;

  img {
    width: 120px;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-size: 24px;
    font-family: 'Valorant';
    color: #fff;
    background: transparent;
  }

  .nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 80px;
    width: 120px;
    position: relative;

    .sep1 {
      width: 100px;
      height: 152px;
      background-color: #000;
      -webkit-clip-path: polygon(55% 0, 100% 0%, 45% 77%, 0 77%);
      clip-path: polygon(55% 0, 100% 0%, 45% 77%, 0 77%);
      position: absolute;
      right: -187px;
    }

    .sep2 {
      width: 100px;
      height: 152px;
      background-color: #000;
      -webkit-clip-path: polygon(55% 0, 10% 0, 55% 77%, 100% 77%);
      clip-path: polygon(55% 0, 10% 0, 55% 77%, 100% 77%);
      position: absolute;
      left: -187px;
    }
  }

  .nav-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 80px;
    background: linear-gradient(270deg, rgba(233,0,46,1) 33%, rgba(0,0,0,1) 91%);
  }

  .nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 80px;
    background-color: blue;
    background: linear-gradient(90deg, rgba(233,0,46,1) 33%, rgba(23,0,5,1) 91%);
  }

  nav-link {
    cursor: pointer;

    i {
      padding-right: 15px;
    }
  }
}

main {
  height: 91.5vh;
  background-image: url('./images/fond-accueil.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;

  #home-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 90vh;
    position: relative;
    overflow: hidden;

    #aimx-title {
      font-size: 90px;
      font-family: 'Valorant';
      margin-right: 60px;
    }

    .sep-anim1 {
      position: absolute;
      top: 0px;
      width: 380px;
      height: 335px;
      background-color: #000;
      -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      animation-name: home-animation;
      animation-duration: 1s;
    }

    .sep-anim2 {
      position: absolute;
      overflow: hidden;
      top: 0px;
      right: -200px;
      width: 380px;
      height: 335px;
      background-color: rgba(233,0,46,1);
      -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      animation-name: home-animation;
      animation-duration: 1s;
    }

    .sep-anim3 {
      position: absolute;
      overflow: hidden;
      top: 510px;
      right: 200px;
      width: 380px;
      height: 335px;
      background-color: rgba(233,0,46,1);
      -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      animation-name: home-animation;
      animation-duration: 1s;
    }

    .sep-anim4 {
      position: absolute;
      overflow: hidden;
      top: 510px;
      right: 380px;
      width: 380px;
      height: 335px;
      background-color: #000;
      -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
      animation-name: home-animation;
      animation-duration: 1s;
    }
  }
}