* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Valorant';
    src: url('./front//Valorant.ttf');
}

nav img {
    width: 120px;
}

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0px 10px 50px 0px black;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-size: 24px;
    font-family: 'Valorant';
    color: #fff;
    background: transparent;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100px;
    position: relative;
}

.sep1 {
    color: blue;
    width: 100px;
    height: 152px;
    background-color: blue;
    -webkit-clip-path: polygon(83% 0, 100% 0%, 19% 83%, 0 83%);
    clip-path: polygon(83% 0, 100% 0%, 19% 83%, 0 83%);
    position: absolute;
    right: -140px;
    
}

.nav-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(233,0,46,1) 49%);
}

.nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100px;
    background-color: blue;
    background: linear-gradient(90deg, rgba(233,0,46,1) 49%, rgba(23,0,5,1) 98%);
}

nav-link i {
    padding-right: 15px;
}

main {
    height: 89.6vh;
    background-image: url('./images/fond-accueil.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}