@keyframes home-animation {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 380px;
    height: 347px;
  }
}
* {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "Valorant";
  src: url("font/Valorant.ttf");
}
@font-face {
  font-family: "GothamLight";
  src: url("./font/GothamLight.ttf");
}
@font-face {
  font-family: "GothamBook";
  src: url("./font/GothamBook.ttf");
}
nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 10px 50px 0px black;
}
nav img {
  width: 120px;
}
nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  font-size: 24px;
  font-family: "Valorant";
  color: #fff;
  background: transparent;
}
nav .nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 80px;
  width: 120px;
  position: relative;
}
nav .nav-center .sep1 {
  width: 100px;
  height: 152px;
  background-color: #000;
  -webkit-clip-path: polygon(55% 0, 100% 0%, 45% 77%, 0 77%);
  clip-path: polygon(55% 0, 100% 0%, 45% 77%, 0 77%);
  position: absolute;
  right: -187px;
}
nav .nav-center .sep2 {
  width: 100px;
  height: 152px;
  background-color: #000;
  -webkit-clip-path: polygon(55% 0, 10% 0, 55% 77%, 100% 77%);
  clip-path: polygon(55% 0, 10% 0, 55% 77%, 100% 77%);
  position: absolute;
  left: -187px;
}
nav .nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 80px;
  background: linear-gradient(270deg, rgb(233, 0, 46) 33%, rgb(0, 0, 0) 91%);
}
nav .nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 80px;
  background-color: blue;
  background: linear-gradient(90deg, rgb(233, 0, 46) 33%, rgb(23, 0, 5) 91%);
}
nav nav-link {
  cursor: pointer;
}
nav nav-link i {
  padding-right: 15px;
}

main #home-container {
  background-image: url("./images/fond-accueil.png");
  background-size: cover;
  background-position-y: -210px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 91.5vh;
  position: relative;
  overflow: hidden;
}
main #home-container #aimx-title {
  font-size: 90px;
  font-family: "Valorant";
  margin-right: 60px;
}
main #home-container .sep-anim1 {
  position: absolute;
  top: 0px;
  width: 380px;
  height: 347px;
  background-color: #000;
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation;
  animation-duration: 1s;
}
main #home-container .sep-anim2 {
  position: absolute;
  top: 0px;
  right: -200px;
  width: 380px;
  height: 347px;
  background-color: rgb(233, 0, 46);
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation;
  animation-duration: 1s;
}
main #home-container .sep-anim3 {
  position: absolute;
  top: 510px;
  right: 200px;
  width: 380px;
  height: 347px;
  background-color: rgb(233, 0, 46);
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation;
  animation-duration: 1s;
}
main #home-container .sep-anim4 {
  position: absolute;
  overflow: hidden;
  top: 510px;
  right: 380px;
  width: 380px;
  height: 347px;
  background-color: #000;
  -webkit-clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  clip-path: polygon(96% 0, 97% 0, 29% 100%, 28% 100%);
  animation-name: home-animation;
  animation-duration: 1s;
}
main #presentation-container {
  height: 100vh;
  background-color: #fff;
  background-image: url("./images/fond-pres.png");
  position: relative;
  overflow: hidden;
}
main #presentation-container img {
  height: 100%;
  width: 1100px;
}
main #presentation-container h1 {
  color: #000;
  font-family: "Valorant";
  font-size: 48px;
  width: 55%;
  padding-top: 200px;
  text-align: right;
}
main #presentation-container .p-container {
  margin-top: 175px;
  display: flex;
  overflow: hidden;
}
main #presentation-container .p-container .test-container {
  width: 55%;
  height: 150px;
}
main #presentation-container .p-container .text-pres {
  width: 600px;
  display: flex;
  flex-direction: column;
}
main #presentation-container .p-container .text-pres span {
  color: rgb(233, 0, 46);
}
main #presentation-container .p-container .text-pres span:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}
main #presentation-container .p-container .text-pres span:nth-child(2) a {
  text-decoration: none;
  color: rgb(233, 0, 46);
}
main #presentation-container .p-container .text-pres p {
  font-family: "GothamLight";
  font-size: 18px;
  line-height: 1.5em;
}
main #presentation-container .p-container .text-pres p:nth-child(1) {
  margin-bottom: 40px;
}
main #tweet-container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
main #tweet-container .blackbar {
  position: absolute;
  width: 373px;
  height: 100%;
  background-color: #000;
  z-index: 0;
  left: 630px;
  border-left: 2px solid rgb(233, 0, 46);
}
main #tweet-container .flex-tweet {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
main #tweet-container .flex-tweet .info-tweet {
  display: flex;
  flex-direction: column;
}
main #tweet-container .flex-tweet .info-tweet h1 {
  font-size: 48px;
  font-family: "Valorant";
}
main #tweet-container .flex-tweet .info-tweet div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
main #tweet-container .flex-tweet .info-tweet div img {
  width: 150px;
  margin-bottom: 40px;
}
main #tweet-container .flex-tweet .info-tweet div span {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "GothamBook";
}
main #tweet-container .flex-tweet .info-tweet div i {
  font-size: 40px;
  border: 1px solid rgb(233, 0, 46);
  border-radius: 50%;
  color: rgb(233, 0, 46);
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
main #tweet-container .flex-tweet .info-tweet div i:hover {
  color: #fff;
  background-color: rgb(233, 0, 46);
  transition: 0.5s;
}
main #tweet-container .flex-tweet .tweetfeel {
  width: 900px;
  height: 600px;
}

/*# sourceMappingURL=style.css.map */
